<html>
	
	<!--	
	______ _       _ _        _ _____ _                              
	|  _  (_)     (_) |      | /  ___(_)                             
	| | | |_  __ _ _| |_ __ _| \ `--. _  __ _ _ __   __ _  __ _  ___ 
	| | | | |/ _` | | __/ _` | |`--. \ |/ _` | '_ \ / _` |/ _` |/ _ \
	| |/ /| | (_| | | || (_| | /\__/ / | (_| | | | | (_| | (_| |  __/
	|___/ |_|\__, |_|\__\__,_|_\____/|_|\__, |_| |_|\__,_|\__, |\___|
			  __/ |                      __/ |             __/ |     
			 |___/                      |___/             |___/      
					www.github.com/brhoads/DigitalSignage
	
	NOTE: Uses Foundation and thus jQuery so feel free to use any jQuery constructs
		  instead of the vanilla JS counterpart	
	-->


	<head>
		<title>Digital Signage Overrides</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css"> 
		<link rel="stylesheet" type="text/css" href="css/foundation.css">
	</head>
	
	<body>
		<!-- Title Row -->
		<div class="row">
			<div class="large-2 columns">
				<img src="img/logo.png" alt="NASA Logo" height="100px" width="100px"/>
			</div>
			<div class="large-10 columns">
				<h2>Digital Signage Overrides</h2>
				<h5>Version 1.0.0</h5>
			</div>			
		</div>
		
		<!-- Overrides Selection -->
		<div class="row">
			<!-- Toggle Switch -->
			<div class="large-2 columns">
  			    <label>Override Status</label>
				<div class="small-2 switch small round">
				  <input id="overrideSwitchOff" name="switch-override" type="radio">
				  <label for="overrideSwitchOff" onclick="">Off</label>

				  <input id="overrideSwitchOn" name="switch-override" type="radio" checked>
				  <label for="overrideSwitchOn" onclick="">On</label>

				  <span></span>
				</div>
			</div>
			<!-- Emergency/IPTV Selection -->
			<div class="large-4 columns">
				<form class="custom">
				<label for="overrideTypeDropdown">Override Selection</label>
				<select id="overrideTypeDropdown" class="medium" style="margin-top:3px">
					<option>Emergency Image</option>
					<option>Play IPTV</option>
				</select>
				</form>
			</div>
			<!-- IPTV Channel Dropdown -->
			<div id="iptvDiv" class="large-4 columns hidden">
				<form class="custom">
				<label for="iptvDropdown">IPTV Channel</label>
				<select id="iptvDropdown" class="medium">
					{{#each iptvChannels}}
						<option value="{{ip}}">{{name}}</option>
					{{/each}}
				</select>
				</form>
			</div>
			<!-- Spacing Div -->
			<div class="large-2 columns">
			</div>
		</div>
		<!-- Pi Selection -->
		<div class="row">
			<div class="panel">
			<form class="custom">
			<ul class="small-block-grid-4">
				{{#each pis}}
				<li>
					<label for="checkbox{{piDee}}">
					<input class="picheck" type="checkbox" id="checkbox{{piDee}}" name="{{piDee}}" style="display:none;"/>
					<span class="custom checkbox" id="{{piDee}}"></span>
					{{!ip}}{{location}}{{org}}
					</label>
				</li>
				{{/each}}
			</ul>
			</form>
			</div>
		</div>
		<!-- Toggle all Switch -->
		<div class="row">
			<div class="large-2 columns">
  			    <label>Toggle Pi Selection</label>
				<div class="small-2 switch small round">
				  <input id="piSwitchOff" name="switch-toggle" type="radio" checked>
				  <label for="piSwitchOff" onclick="">Off</label>

				  <input id="piSwitchOn" name="switch-toggle" type="radio">
				  <label for="piSwitchOn" onclick="">On</label>

				  <span></span>
				</div>
			</div>
		</div>
		<!-- Submit Button -->
		<div class="row">
			<div class="large-2 columns">
				<a href="#" id="submitButton" class="small button alert radius">Submit Override</a>
			</div>			
		</div>

		<!-- AJAX Status Modal -->
		<div id="statusModal" class="reveal-modal">
			<h2>Overrides Status Sent<h2>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		
		<!-- Foundation Necessitates -->		
		<script>
			document.write('<script src=' +
			('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
			'.js><\/script>')
		</script>		  
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.forms.js"></script>
		<script src="js/foundation/foundation.reveal.js"></script>
		<script>
			//Load Foundation
			$(document).foundation();
			$('#piSwitchOn,#piSwitchOff').change(function(e){
				if($('#piSwitchOn').prop('checked')){
					//All the Pis need selected
					$('.picheck').each(function(index){
						//$(this).prop('checked',true);
						$(this).next().addClass('checked');
						//$('span.custom.checkbox').toggleClass('checked');
					});
				} else {
					//All the Pis need unselected
					$('.picheck').each(function(index){
						$(this).next().removeClass('checked');
					});
				}
			});
			$(".custom input[type='checkbox']").parent().click(function() {
				if($(this).children("input").is(":checked") !== $(this).children("span").is(".checked")) {
					if($(this).children("input").is(":checked")) {
						$(this).children("span").addClass("checked");
					} else {
						$(this).children("span").removeClass("checked");
					}
				}
			});
			$('#overrideTypeDropdown').change(function(e){
				console.log($(this).val());
				if($(this).val() === 'Play IPTV'){
					$('#iptvDiv').removeClass('hidden');
				} else {
					$('#iptvDiv').addClass('hidden');
				}
			});
			$('#submitButton').click(function(e){
				//Scrape all the checkboxes and get the piDees from them
				//	this will then be POSTed to the server which will then
				//	tell the Pis to handle the override
				var piDees = new Array();
				$('.custom.checkbox.checked').each(function(index){
					piDees.push($(this).attr('id'));
				});		
				
			});
		</script>		
	</body>
</html>