<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="242424">
        <setting label="007" type="text"   id="Location" default="Location"/>
        <setting label="8" type="labelenum"   id="Org"  default="Org Code" values="AB|AA|AC|AD|AO|AM|AH|AJ|AL|BA|CA|DA|EA|GA|JA|KA|NA|RA|SA|VA|XA|YA|OA|QA|IA|LA"/>
		<setting label="2223" type="text"   id="PiDee"  default="-1" visible="false"/>
        <setting label="123456789" type="ipaddress"   id="ServerIP" default="0.0.0.0" />
    </category>
</settings>

<!-- ORG Codes -->
<!-- 
	 AB|AA|AC|AD|AO|AM|AH|AJ|AL|
	 BA|CA|DA|EA|GA|JA|KA|NA|RA|
	 SA|VA|XA|YA|OA|QA|IA|LA
-->